{
  "forceBridge": {
    "common": {
      "log": {
        "level": "info",
        "logFile": "/home/force-bridge/integration/configs/logs/verifier1.log"
      },
      "network": "testnet",
      "role": "verifier",
      "orm": {
        "type": "mysql",
        "host": "localhost",
        "port": 3306,
        "username": "root",
        "password": "root",
        "database": "verifier1",
        "timezone": "Z",
        "synchronize": true,
        "logging": false
      },
      "keystorePath": "/home/force-bridge/integration/configs/keystore.json",
      "port": 8000,
      "collectorPubKeyHash": [
        "0x40dcec2ef1ffc2340ea13ff4dd9671d2f9787e95"
      ]
    },
    "eth": {
      "rpcUrl": "http://127.0.0.1:8545",
      "privateKey": "multisig-1",
      "confirmNumber": 1,
      "startBlockHeight": 11,
      "batchUnlock": {
        "batchNumber": 100,
        "maxWaitTime": 86400000
      },
      "multiSignThreshold": 3,
      "multiSignAddresses": [
        "0x4B366cb8D2C0087FF1977dA81fE099920Cb6A961",
        "0x646cB39021016856376250478Cc1dE945A92D313",
        "0x244De0BE822F0af252cfD486A40AD33d51C9CDA3",
        "0x4BAC313831dc457f91a823B63fC51f108A928e57",
        "0x9c3017d36e0B1eC3CC46E2aFCddDFc512bbd6b73"
      ],
      "assetWhiteList": [
        {
          "address": "0x0000000000000000000000000000000000000000",
          "name": "ETH",
          "symbol": "ETH",
          "decimal": 18,
          "logoURI": "https://cryptologos.cc/logos/ethereum-eth-logo.svg?v=002",
          "minimalBridgeAmount": "1000000000000000",
          "bridgeFee": {
            "in": "1000000000000",
            "out": "2000000000000"
          }
        },
        {
          "address": "0x7Af456bf0065aADAB2E6BEc6DaD3731899550b84",
          "name": "DAI",
          "symbol": "DAI",
          "decimal": 18,
          "logoURI": "https://cryptologos.cc/logos/single-collateral-dai-sai-logo.svg?v=002",
          "minimalBridgeAmount": "1000000000000000",
          "bridgeFee": {
            "in": "1000000000000",
            "out": "2000000000000"
          }
        },
        {
          "address": "0x74a3dbd5831f45CD0F3002Bb87a59B7C15b1B5E6",
          "name": "USDT",
          "symbol": "USDT",
          "decimal": 6,
          "logoURI": "https://cryptologos.cc/logos/tether-usdt-logo.svg?v=002",
          "minimalBridgeAmount": "1000",
          "bridgeFee": {
            "in": "10",
            "out": "20"
          }
        },
        {
          "address": "0x265566D4365d80152515E800ca39424300374A83",
          "name": "USDC",
          "symbol": "USDC",
          "decimal": 6,
          "logoURI": "https://cryptologos.cc/logos/usd-coin-usdc-logo.svg?v=002",
          "minimalBridgeAmount": "1000",
          "bridgeFee": {
            "in": "10",
            "out": "20"
          }
        }
      ],
      "contractAddress": "0x8326e1d621Cd32752920ed2A44B49bB1a96c7391"
    },
    "ckb": {
      "ckbRpcUrl": "http://127.0.0.1:8114",
      "ckbIndexerUrl": "http://127.0.0.1:8116",
      "privateKey": "multisig-1",
      "startBlockHeight": 32,
      "confirmNumber": 1,
      "multisigScript": {
        "R": 0,
        "M": 3,
        "publicKeyHashes": [
          "0xaf7d16c50364344d61531f401f3ef0eaaed96f31",
          "0x8d8f5ea65352af92cebb57d5d8d36ed70746d1ee",
          "0x9660b38b0b17bd1c6c9f2e6679d000d19599ff06",
          "0x8a22414f1125e69400838835e9966cf144a81940",
          "0xe94f59e484797c025b3adef829350f73f6b52032"
        ]
      },
      "multisigLockscript": {
        "code_hash": "0x5c5069eb0857efc65e1bca0c07df34c31663b3622fd3876c876320fc9634e2a8",
        "hash_type": "type",
        "args": "0x787a311545c17e8ee826736905934353031095c5"
      },
      "ownerCellTypescript": {
        "code_hash": "0x00000000000000000000000000000000000000000000000000545950455f4944",
        "hash_type": "type",
        "args": "0x6a85c8e15586090a2bcc00f7fa333714f1171a3c9c83154b5745d07c3a0e45ce"
      },
      "deps": {
        "bridgeLock": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x7dd3ba3d8a132c8ec6759f14986973b791393838405545ac8b9c9cb7a28d36b3",
              "index": "0x0"
            }
          },
          "script": {
            "codeHash": "0xf685cd13bba616cac87da213b154b6eae1fa4f0076e4b93751fc42b2e4a6f46c",
            "hashType": "type"
          }
        },
        "sudtType": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x7dd3ba3d8a132c8ec6759f14986973b791393838405545ac8b9c9cb7a28d36b3",
              "index": "0x2"
            }
          },
          "script": {
            "codeHash": "0xe1e354d6d643ad42724d40967e334984534e0367405c5ae42a9d7d63d77df419",
            "hashType": "data"
          }
        },
        "recipientType": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x7dd3ba3d8a132c8ec6759f14986973b791393838405545ac8b9c9cb7a28d36b3",
              "index": "0x3"
            }
          },
          "script": {
            "codeHash": "0x1313a0eaa571a9168e44ceba1a0d0a328840d9de43aab2388af7c860b57c9a0c",
            "hashType": "type"
          }
        }
      }
    }
  }
}
