{
  "forceBridge": {
    "eth": {
      "rpcUrl": "http://127.0.0.1:8545",
      "privateKey": "0xc4ad657963930fbff2e9de3404b30a4e21432c89952ed430b56bf802945ed37a",
      "contractAddress": "0x8326e1d621Cd32752920ed2A44B49bB1a96c7391"
    },
    "eos": {
      "rpcUrl": "https://jungle3.cryptolions.io:443",
      "chainId": "2a02a0053e5a8cf73a56ba0fda11e4d92e0238a4a2aa74fccf46d5a910746840",
      "bridgerAccount": "ericwang1112",
      "bridgerAccountPermission": "active",
      "privateKeys": [
        "5KjR55Q7UJpRnUx8zBdNaUC4P2573BsNLJaMR9o9wrJryYYXWU2",
        "5KQG4541B1FtDC11gu3NrErWniqTaPHBpmikSztnX8m36sK5px5"
      ]
    }
    "ckb": {
      "ckbRpcUrl": "https://127.0.0.1:8114",
      "ckbIndexerUrl": "https://127.0.0.1:8116",
      "deps": {
        "bridgeLock": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x0caa50efa282e1aeda3ef6c5f99d2bf6a8365a59eaaad7a490a26aa99a1177cd",
              "index": "0x0"
            }
          },
          "script": {
            "codeHash": "0x0e95396c13c9f0dfb48fedfe0dd670eaa228fb8fb6f5a82b8b8dfe89c8c1bb37",
            "hashType": "data"
          }
        },
        "sudt": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x0caa50efa282e1aeda3ef6c5f99d2bf6a8365a59eaaad7a490a26aa99a1177cd",
              "index": "0x2"
            }
          },
          "script": {
            "codeHash": "0xe1e354d6d643ad42724d40967e334984534e0367405c5ae42a9d7d63d77df419",
            "hashType": "data"
          }
        },
        "recipientType": {
          "cellDep": {
            "depType": "code",
            "outPoint": {
              "txHash": "0x0caa50efa282e1aeda3ef6c5f99d2bf6a8365a59eaaad7a490a26aa99a1177cd",
              "index": "0x3"
            }
          },
          "script": {
            "codeHash": "0x0e95396c13c9f0dfb48fedfe0dd670eaa228fb8fb6f5a82b8b8dfe89c8c1bb37",
            "hashType": "data"
          }
        }
      }
    }
  }
}
